.result {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
  position: relative
}
.result:hover {
  cursor: pointer;
}

.result-outline {
  display: inline;
  width: 5px; 
  background-color: #db6b34;
  position: absolute;
  left: -5px; top: 0; bottom: 0;
}